@media (max-device-width: 640px) {
  .items {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    display: flex;
    margin-right: 0.3em;
    color: #bebbb9;
  
    font-family: var(--ff-bold);
    font-size: 12px;
    line-height: 130%;
    
    &:not(:first-child)::before {
      content: '/';
      margin-right: 0.3em;
    }
  }
  
  .link {
    text-decoration: none;
    color: inherit;
  }
}
